html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(110, 168, 24);
}

/* img {
  width: 15em;
  height: 15em;
} */
.footer {
  height: 4rem;
  color: blue;
  display: flex;
  justify-content: center;
}
